@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kharkiv<br />
    Basov Roman<br />
    <abbr title="Phone">P:</abbr>
    067067067067
</address>

<p>
    @Html.ActionLink("Send Email", "SendEmail", "Home")
</p>