@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kharkiv<br />
    Basov Roman<br />
    <abbr title="Phone">P:</abbr>
    067067067067
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<p>
    @Html.ActionLink("Send Email", "SendEmail", "Home")
</p>