@using InetForum.Models
@{
    ViewBag.Title = "Home Page";
}

 
        <div id="carousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li class="active" data-target="#carousel" data-slide-to="0"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner img-mystyle">
                <div class="item active">
                    <a href="~/Post/PostByCategory/3">
                        <img class="img-mystyle" src="~/Images/auto.jpg" alt="" style="height:600px; width:100%">
                    </a>
                        <div class="carousel-caption">
                            <h3>Auto</h3>
                            <p>Category - auto</p>
                        </div>
                </div>
                <div class="item">
                    <a href="~/Post/PostByCategory/1">
                        <img class="img-mystyle" src="~/Images/humor2.jpg" alt="" style="height:600px; width:100%">
                    </a>
                        <div class="carousel-caption">
                            <h3>Humor</h3>
                            <p>Category - humor</p>
                        </div>
                </div>
                <div class="item">
                    <a href="~/Post/PostByCategory/2">
                        <img class="img-mystyle" src="~/Images/fishing.jpg" alt="" style="height:600px; width:100%">
                    </a>
                        <div class="carousel-caption">
                            <h3>Fishing</h3>
                            <p>Category - fishing</p>
                        </div>
                </div>
                <div class="item">
                    <a href="~/Post/PostByCategory/4">
                        <img class="img-mystyle" src="~/Images/games.jpg" alt="" style="height:600px; width:100%">
                    </a>
                        <div class="carousel-caption">
                            <h3>Games</h3>
                            <p>Category - games</p>
                        </div>
                </div>
            </div>
            <a href="#carousel" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#carousel" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>


<table style="font-size: 16px">
    <tr>
        <th width="40%">
            <div class="index-category">
                Select category
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Category
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var item in ViewBag.Categories)
                        {
                            <li><a href="~/Post/PostByCategory/@item.Id">@item.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </th>
        <th width="100%">
            
                <font color="red">
                    <marquee behavior="alternate" direction="right">Температура в Харькове  @ViewBag.OpenWeathers[1] °С</marquee>
                </font>
            
        </th>
    </tr>
</table>

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Добро пожаловать на наш форум. Для пользования всеми функциями данного форума следует авторизоваться/зарегистрироваться.</p>
</div>
