@model InetForum.Models.PostCategory
@{
    ViewBag.Title = "PostByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Post topics for your chosen category </h2>

@*<form method="get">
        <div class="form-inline">
            <label class="control-label">Category: </label>
            @Html.DropDownList("id", Model.Categories as SelectList,
                        htmlAttributes: new { @class = "form-control" })

            <input type="submit" value="submit" class="btn btn-default" />
        </div>
    </form>*@
<table class="menu-align" style="font-size:larger; width:55%">
    <tr>
        <th>Category </th>
        <th style="padding-left:35px">Title post</th>
        <th style="padding-left:35px"></th>
    </tr>
</table>

    @foreach (var item in Model.Posts)
    {
        <div class="jumbotron" style="padding-left:15px">
            <table class="menu-align" style="font-size:larger; width:100%">
                <tr>
                    <td style="width:20%">
                        @Html.DisplayFor(modelItem => item.CategoryViewModel.Title)
                    </td>
                    <td style="width:60%">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td style="width:20%">
                        @*<a href="~/Post/Details/@item.Id">Go to details</a>*@
                        @Html.RouteLink("Go to view", new { controller = "Comment", action = "CommentByPost", id = item.Id })
                    </td>
                </tr>
            </table>
        </div>
    }

